/** @format */

#card img {
  height: 380px;
}

#card {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  display: flex;
  margin-bottom: 20px;
  height: 35em;
  width: 100%;
  padding: 0;
}
#open {
  color: black;
}
