/** @format */

#card {
  border: 1px solid black;
  padding: 3px;
  height: 35em;
  width: 230px;
}
#card img {
  height: 380px;
}

#card-collum {
  display: flex;
  justify-content: center;
}
#open {
  color: black;
}
